
image boot.vfat {
  vfat {
    label = "boot"
    files = {
      "linux",
      "dtb",
      "rootfs.cpio.gz"
    }
    file EFI/BOOT/grub.cfg { image = 'efi-part/EFI/BOOT/grub.cfg' }
    file EFI/BOOT/bootaa64.efi { image = 'efi-part/EFI/BOOT/bootaa64.efi' }
  }
  size = 512M
}

image sdcard.img {
  hdimage {
  }

  partition rk0-boot {
    in-partition-table = "no"
    image = "idbloader.img"
    offset = 32k
  }

  partition rk1-boot {
    in-partition-table = "no"
    image = "uefi.img"
    offset = 8M
  }

   partition boot {
     partition-type = 0xC
     bootable = "true"
     image = "boot.vfat"
     #offset = 16M
     offset = 100M
   }

#  partition rootfs {
#    partition-type = 0x83
#    image = "rootfs.ext2"
#  }
}
