
&uart8 { /* BT */
	pinctrl-names = "default";
	pinctrl-0 = <&uart8m0_xfer &uart8m0_ctsn &uart8m0_rtsn>;
	status = "okay";

	bluetooth {
		compatible = "nxp,88w8997-bt";
	};
};

&sdmmc2 {
	/* WiFi & BT combo module WiF-Fi 88W9098 */
	#address-cells = <1>;
	#size-cells = <0>;
	bus-width = <4>;
	clock-frequency = <150000000>;
	cap-sdio-irq;
	cap-sd-highspeed;
	keep-power-in-suspend;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc2m0_bus4 &sdmmc2m0_clk &sdmmc2m0_cmd>;
	sd-uhs-sdr104;
	status = "okay";

	// DD8
	brcmf: wifi@0 {
		compatible = "nxp,88w9098";
		reg = <1>;
	};
};
