// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/input/rk-input.h>
#include <dt-bindings/display/rockchip_vop.h>
#include <dt-bindings/sensor-dev.h>
#include "dt-bindings/usb/pd.h"
#include "rk3588s.dtsi"
#include "rk3588.dtsi"

#include "ethernet-mpc.dtsi"
#include "usb-sata-pcie-mpc.dtsi"
#include "usb-displayport-mpc.dtsi"

/ {
	model = "ATB RK3588";
	compatible = "atb,rk3588", "rockchip,rk3588";

	hdmi0_sound: hdmi0-sound {
		status = "disabled";
		compatible = "rockchip,hdmi";
		rockchip,mclk-fs = <128>;
		rockchip,card-name = "rockchip-hdmi0";
		rockchip,cpu = <&i2s5_8ch>;
		rockchip,codec = <&hdmi0>;
		rockchip,jack-det;
	};

	hdmi1_sound: hdmi1-sound {
		status = "okay";
		compatible = "rockchip,hdmi";
		rockchip,mclk-fs = <128>;
		rockchip,card-name = "rockchip-hdmi1";
		rockchip,cpu = <&i2s6_8ch>;
		rockchip,codec = <&hdmi1>;
		rockchip,jack-det;
	};

	dp0_sound: dp0-sound {
		status = "okay";
		compatible = "rockchip,hdmi";
		rockchip,card-name= "rockchip,dp0";
		rockchip,mclk-fs = <512>;
		rockchip,cpu = <&spdif_tx2>;
		rockchip,codec = <&dp0 1>;
		rockchip,jack-det;
	};

	dp1_sound: dp1-sound {
		status = "disabled";
		compatible = "rockchip,hdmi";
		rockchip,card-name= "rockchip,dp1";
		rockchip,mclk-fs = <512>;
		rockchip,cpu = <&spdif_tx5>;
		rockchip,codec = <&dp1 1>;
		rockchip,jack-det;
	};

	leds: leds {
		compatible = "gpio-leds";
		hdd-led {
			gpios = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			default-state = "on";
		};	
	};
	spdif_tx0_dc: spdif-tx0-dc {
		status = "disabled";
		compatible = "linux,spdif-dit";
		#sound-dai-cells = <0>;
	};

	spdif_tx0_sound: spdif-tx0-sound {
		status = "disabled";
		compatible = "simple-audio-card";
		simple-audio-card,mclk-fs = <128>;
		simple-audio-card,name = "rockchip,spdif-tx0";
		simple-audio-card,cpu {
			sound-dai = <&spdif_tx0>;
		};
		simple-audio-card,codec {
			sound-dai = <&spdif_tx0_dc>;
		};
	};

	spdif_tx1_dc: spdif-tx1-dc {
		status = "disabled";
		compatible = "linux,spdif-dit";
		#sound-dai-cells = <0>;
	};

	spdif_tx1_sound: spdif-tx1-sound {
		status = "disabled";
		compatible = "simple-audio-card";
		simple-audio-card,mclk-fs = <128>;
		simple-audio-card,name = "rockchip,spdif-tx1";
		simple-audio-card,cpu {
			sound-dai = <&spdif_tx1>;
		};
		simple-audio-card,codec {
			sound-dai = <&spdif_tx1_dc>;
		};
	};

	test-power {
		status = "okay";
	};

};

//&avdd_0v75_s0 {
//	regulator-state-mem {
//		regulator-on-in-suspend;
//		regulator-suspend-microvolt = <837500>;
//	};
//};

//&avcc_1v8_s0 {
//	regulator-state-mem {
//		regulator-on-in-suspend;
//		regulator-suspend-microvolt = <1800000>;
//	};
//};

//&vcc_1v8_s0 {
//	regulator-state-mem {
//		regulator-on-in-suspend;
//		regulator-suspend-microvolt = <1800000>;
//	};
//};

//&vcc_3v3_s0 {
//	regulator-state-mem {
//		regulator-on-in-suspend;
//		regulator-suspend-microvolt = <3300000>;
//	};
//};

//&vdd_log_s0 {
//	regulator-state-mem {
//		regulator-on-in-suspend;
//		regulator-suspend-microvolt = <750000>;
//	};
//};

//&vdd_ddr_pll_s0 {
//	regulator-state-mem {
//		regulator-on-in-suspend;
//		regulator-suspend-microvolt = <850000>;
//	};
//};


&av1d_mmu {
	status = "okay";
};

&avsd {
	status = "okay";
};

&cpu_l0 {
	cpu-supply = <&vdd_cpu_lit_s0>;
	mem-supply = <&vdd_cpu_lit_mem_s0>;
};

&cpu_b0 {
	cpu-supply = <&vdd_cpu_big0_s0>;
	mem-supply = <&vdd_cpu_big0_mem_s0>;
};

&cpu_b2 {
	cpu-supply = <&vdd_cpu_big1_s0>;
	mem-supply = <&vdd_cpu_big1_mem_s0>;
};

&gpu {
	mali-supply = <&vdd_gpu_s0>;
	mem-supply = <&vdd_gpu_mem_s0>;
	status = "okay";
};

&rknpu {
	rknpu-supply = <&vdd_npu_s0>;
	mem-supply = <&vdd_npu_mem_s0>;
	status = "okay";
};

&rknpu_mmu {
	status = "okay";
};

&dmc {
	center-supply = <&vdd_ddr_s0>;
	mem-supply = <&vdd_log_s0>;
	status = "okay";
};

&dfi {
	status = "okay";
};

&iep {
	status = "okay";
};

&iep_mmu {
	status = "okay";
};

&jpegd {
	status = "okay";
};

&jpegd_mmu {
	status = "okay";
};

&jpege_ccu {
	status = "okay";
};

&jpege0 {
	status = "okay";
};

&jpege0_mmu {
	status = "okay";
};

&jpege1 {
	status = "okay";
};

&jpege1_mmu {
	status = "okay";
};

&jpege2 {
	status = "okay";
};

&jpege2_mmu {
	status = "okay";
};

&jpege3 {
	status = "okay";
};

&jpege3_mmu {
	status = "okay";
};

&vdpu {
	status = "okay";
};

&vdpu_mmu {
	status = "okay";
};

&mpp_srv {
	status = "okay";
};

&rga3_core0 {
	status = "okay";
};

&rga3_0_mmu {
	status = "okay";
};

&rga3_core1 {
	status = "okay";
};

&rga3_1_mmu {
	status = "okay";
};

&rga2 {
	status = "okay";
};

&rkvdec_ccu {
	status = "okay";
};

&rkvdec0 {
	status = "okay";
};

&rkvdec0_mmu {
	status = "okay";
};

&rkvdec1 {
	status = "okay";
};

&rkvdec1_mmu {
	status = "okay";
};

&rkvenc_ccu {
	status = "okay";
};

&rkvenc0 {
	venc-supply = <&vdd_vdenc_s0>;
	mem-supply = <&vdd_vdenc_mem_s0>;
	status = "okay";
};

&rkvenc0_mmu {
	status = "okay";
};

&rkvenc1 {
	venc-supply = <&vdd_vdenc_s0>;
	mem-supply = <&vdd_vdenc_mem_s0>;
	status = "okay";
};

&rkvenc1_mmu {
	status = "okay";
};

&saradc {
	status = "okay";
	vref-supply = <&vcc_1v8_s0>;
};

&sdhci {
	bus-width = <8>;
	no-sdio;
	no-sd;
	non-removable;
	max-frequency = <200000000>;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	status = "okay";
};

&sdmmc {
	status = "okay";
	max-frequency = <50000000>;
//	no-sdio;
	no-mmc;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc_3v3_s0>;
	vqmmc-supply = <&vccio_sd_s0>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_bus4 &sdmmc_clk &sdmmc_cmd &sdmmc_det>;
};

&tsadc {
	status = "okay";
};



// === Video-audio setup ===

&mipi_dcphy0 {
	status = "disabled";
};

&mipi_dcphy1 {
	status = "disabled";
};

&spdif_tx2{
	status = "okay";
};

&hdmi0 {
	status = "disabled";
};

&hdmi0_in_vp0 {
	status = "disabled";
};

&hdmi0_sound {
	status = "disabled";
};

&hdptxphy_hdmi_clk0 {
	status = "okay";
};

&hdptxphy_hdmi0 {
	status = "okay";
};

&route_hdmi0{
	status = "disabled";
};

// 1v8_DP_PWR_EN - page 10, block D9-5
&dp0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&dp0_hpd>;
	hpd-gpios = <&gpio4 RK_PB4 GPIO_ACTIVE_HIGH>;
};

&dp0_sound {
	status = "okay";
};

&dp0_in_vp0 {
	status = "disabled";
};

&dp0_in_vp1 {
	status = "okay";
};

&dp0_in_vp2 {
	status = "disabled";
};

&route_dp0 {
	status = "okay";
	force-output;
	connect = <&vp1_out_dp0>;
};

// HDMI1_HPD - page 14, block D9-6
&hdmi1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&hdmim2_tx1_cec &hdmim0_tx1_hpd &hdmim1_tx1_scl &hdmim1_tx1_sda>;
	cec-enable = "false";
};

&hdptxphy_hdmi_clk1 {
	status = "okay";
};

&hdptxphy_hdmi1 {
	status = "okay";
};

&hdmi1_sound {
	status = "okay";
};

&hdmi1_in_vp0 {
	status = "okay";
};

&hdmi1_in_vp1 {
	status = "disabled";
};

&hdmi1_in_vp2 {
	status = "disabled";
};

&route_hdmi1 {
	status = "okay";
	force-output;
	connect = <&vp0_out_hdmi1>;
};

&dp1 {
	status = "disabled";
};

&dp1_in_vp0 {
	status = "disabled";
};

&dp1_in_vp1 {
	status = "disabled";
};

&dp1_in_vp2 {
	status = "disabled";
};

&route_dp1{
	status = "disabled";
};


// === Video ports setup ===

&vop {
	status = "okay";
	disable-win-move;
	assigned-clocks = <&cru ACLK_VOP>;
	assigned-clock-rates = <800000000>;
};

&vop_mmu {
	status = "okay";
};

&vepu {
	status = "okay";
};

// vp0 & vp1 splice for 8K output
&vp0 {
	rockchip,plane-mask = <(1 << ROCKCHIP_VOP2_CLUSTER0 | 1 << ROCKCHIP_VOP2_ESMART0)>;
	rockchip,primary-plane = <ROCKCHIP_VOP2_ESMART0>;
};

&vp1 {
	rockchip,plane-mask = <(1 << ROCKCHIP_VOP2_CLUSTER1 | 1 << ROCKCHIP_VOP2_ESMART1)>;
	rockchip,primary-plane = <ROCKCHIP_VOP2_ESMART1>;
};

&vp2 {
	rockchip,plane-mask = <(1 << ROCKCHIP_VOP2_CLUSTER2 | 1 << ROCKCHIP_VOP2_ESMART2)>;
	rockchip,primary-plane = <ROCKCHIP_VOP2_ESMART2>;
};

&vp3 {
	rockchip,plane-mask = <(1 << ROCKCHIP_VOP2_CLUSTER3 | 1 << ROCKCHIP_VOP2_ESMART3)>;
	rockchip,primary-plane = <ROCKCHIP_VOP2_ESMART3>;
};


&display_subsystem {
	clocks = <&hdptxphy_hdmi_clk1>;
	clock-names = "hdmi1_phy_pll";
	ports = <&vop_out>;

	route {

		route_dp0: route-dp0 {
			status = "okay";
			logo,uboot = "logo.bmp";
			logo,kernel = "logo_kernel.bmp";
			logo,mode = "center";
			charge_logo,mode = "center";
			connect = <&vp1_out_dp0>;
		};

		route_hdmi1: route-hdmi1 {
			status = "okay";
			logo,uboot = "logo.bmp";
			logo,kernel = "logo_kernel.bmp";
			logo,mode = "center";
			charge_logo,mode = "center";
			connect = <&vp0_out_hdmi1>;
		};
	};
};


&sdio {
	status = "disabled";
};





// === UART setup ===

&uart0 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&uart0m0_xfer>;
};


// uart1 - page 14, block D9-6
&uart1 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&uart1m1_xfer>;
};

//&uart2 {
//	status = "okay";
//	pinctrl-names = "default";
//	pinctrl-0 = <&uart2m0_xfer>;
//};


// uart3 - page 10, block D9-5
&uart3 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&uart3m0_xfer>;
};

// uart4 - page 11, block D9-7
&uart4 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&uart4m1_xfer>;
};

&uart5 {
	status = "disabled";
};

&uart6 {
	status = "disabled";
};

// uart7 - page 11, block D9-7
&uart7 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&uart7m0_xfer>;
};

&uart8 {
	status = "disabled";
};

// uart9 - page 11, block D9-7
&uart9 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&uart9m2_xfer>;
};

// === SPI setup ===

&spi0 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&spi0m0_cs1 &spi0m0_pins>;
};

&spi1 {
	status = "disabled";
};

&spi3 {
	status = "disabled";
	pinctrl-names = "default";
//	pinctrl-0 = <&spi0m0_cs1 &spi0m0_pins>;
//	num-cs = <1>;
};

// === I2C setup ===

// i2c0 - page 7, block D9-3
&i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0m2_xfer>;

	vdd_cpu_big0_s0: vdd_cpu_big0_mem_s0: rk8602@42 {
		compatible = "rockchip,rk8602";
		reg = <0x42>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "rk860x-reg";
		regulator-name = "vdd_cpu_big0_s0";
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <1050000>;
		regulator-ramp-delay = <2300>;
		rockchip,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;
		regulator-state-mem {
		regulator-off-in-suspend;
		};
	};

	vdd_cpu_big1_s0: vdd_cpu_big1_mem_s0: rk8603@43 {
		compatible = "rockchip,rk8603";
		reg = <0x43>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "rk860x-reg";
		regulator-name = "vdd_cpu_big1_s0";
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <1050000>;
		regulator-ramp-delay = <2300>;
		rockchip,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;
		regulator-state-mem {
		regulator-off-in-suspend;
		};
	};
};

// i2c1 - page 7, block D9-3
&i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1m2_xfer>;

	vdd_npu_s0: vdd_npu_mem_s0: rk8602@42 {
		compatible = "rockchip,rk8602";
		reg = <0x42>;
		vin-supply = <&vcc5v0_sys>;
		regulator-compatible = "rk860x-reg";
		regulator-name = "vdd_npu_s0";
		regulator-min-microvolt = <550000>;
		regulator-max-microvolt = <950000>;
		regulator-ramp-delay = <2300>;
		rockchip,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;
		regulator-state-mem {
		regulator-off-in-suspend;
		};
	};
	
}; // &i2c1 {

&i2c2 {
	status = "disabled";
};

&i2c3 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3m0_xfer>;
};

// i2c4 - page 7, block D9-3
&i2c4 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4m2_xfer>;

	i2c@5d {
		status = "okay";
		compatible = "goodix,gt9xx";
		reg = <0x5d>;
	};

	i2c@53 {
		status = "okay";
		compatible = "microchip,24AA02UIDT", "atmel,24AA02UIDT";
		reg = <0x53>;
//		#address-cells = <2>;
//		#size-cells = <0>;
		pagesize = <16>;
		size = <256>;

		eui_48: eui-48@fa {
		    reg = <0xfa 0x06>;
		};
	};

};

&i2c5 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c5m3_xfer>;
};

&i2c6 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6m3_xfer>;


//	usbc0: fusb302@22 {
//		compatible = "fcs,fusb302";
//		reg = <0x22>;
//		interrupt-parent = <&gpio0>;
//		interrupts = <RK_PD3 IRQ_TYPE_LEVEL_LOW>;
//		pinctrl-names = "default";
//		pinctrl-0 = <&usbc0_int>;
//		vbus-supply = <&vcc12v_dcin>;
//		status = "okay";
//
//		ports {
//			#address-cells = <1>;
//			#size-cells = <0>;
//
//			port@0 {
//				reg = <0>;
//				usbc0_role_sw: endpoint@0 {
//					remote-endpoint = <&dwc3_0_role_switch>;
//				};
//			};
//		};
//
//		usb_con: connector {
//			compatible = "usb-c-connector";
//			label = "USB-C";
//			data-role = "dual";
//			faster-pd-negotiation;
//			power-role = "sink";
//			try-power-role = "sink";
//			op-sink-microwatt = <1000000>;
//			sink-pdos =
//				<PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)
//				 PDO_VAR(5000, 20000, 5000)>;
//
//			altmodes {
//				#address-cells = <1>;
//				#size-cells = <0>;
//
//				altmode@0 {
//					reg = <0>;
//					svid = <0xff01>;
//					vdo = <0xffffffff>;
//				};
//			};
//
//			ports {
//				#address-cells = <1>;
//				#size-cells = <0>;
//
//				port@0 {
//					reg = <0>;
//					usbc0_orien_sw: endpoint {
//						remote-endpoint = <&usbdp_phy0_orientation_switch>;
//					};
//				};
//
//				port@1 {
//					reg = <1>;
//					dp_altmode_mux: endpoint {
//						remote-endpoint = <&usbdp_phy0_dp_altmode_mux>;
//					};
//				};
//			};
//		};
//	};

//	hym8563: hym8563@51 {
//		compatible = "haoyu,hym8563";
//		reg = <0x51>;
//		#clock-cells = <0>;
//		clock-frequency = <32768>;
//		clock-output-names = "hym8563";
//		pinctrl-names = "default";
//		pinctrl-0 = <&hym8563_int>;
//		interrupt-parent = <&gpio0>;
//		interrupts = <RK_PB0 IRQ_TYPE_LEVEL_LOW>;
//		wakeup-source;
//	};

};

&i2c7 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c7m0_xfer>;

//	es8388: es8388@10 {
//		status = "disabled";
//		#sound-dai-cells = <0>;
//		compatible = "everest,es8388", "everest,es8323";
//		reg = <0x10>;
//		clocks = <&cru I2S0_8CH_MCLKOUT>;
//		clock-names = "mclk";
//		assigned-clocks = <&cru I2S0_8CH_MCLKOUT>;
//		assigned-clock-rates = <12288000>;
//		pinctrl-names = "default";
//		pinctrl-0 = <&i2s0_mclk>;
//	};
};

&i2c8 {
	status = "disabled";
};

//&i2c9 {
//	status = "disabled";
//};

// === PWM setup ===

&pwm0 {
	status = "disabled";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm0m1_pins>;
};

&pwm1 {
	status = "disabled";
	pinctrl-names = "active";
	//pinctrl-0 = <&pwm1m2_pins>;
	pinctrl-0 = <&pwm1m1_pins>;
};

&pwm2 {
	status = "disabled";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm2m0_pins>;
};

&pwm3 {
	status = "disabled";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm3m2_pins>;
	//pinctrl-0 = <&pwm3m0_pins>;
};

&pwm6 {
	status = "disabled";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm6m0_pins>;
};

&pwm13 {
	status = "disabled";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm13m2_pins>;
};

&pwm15 {
	status = "disabled";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm15m2_pins>;
};

&pwm14 {
	status = "disabled";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm14m1_pins>;
};



// === I2S setup ===

&i2s0_8ch {
	status = "disabled";
	pinctrl-0 = <&i2s0_lrck
		     &i2s0_sclk
		     &i2s0_sdi0
		     &i2s0_sdo0>;
};

&i2s1_8ch {
	status = "disabled";
	rockchip,i2s-tx-route = <3 2 1 0>;
	rockchip,i2s-rx-route = <1 3 2 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2s1m0_sclk
	             &i2s1m0_lrck
	             &i2s1m0_sdi1
	             &i2s1m0_sdo3>;
};

&i2s5_8ch {
	status = "disabled";
};

&i2s6_8ch {
	status = "okay";
};


&can0 {
	status = "disabled";
};

&can1 {
	status = "disabled";
};

&can2 {
	status = "disabled";
};



// watchdog
&wdt {
        status = "okay";
};

&sfc {
	status = "okay";
	max-freq = <50000000>;
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&fspim0_pins>;

	spi_flash: spi-flash@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "jedec,spi-nor";
		reg = <0x0>;
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		status = "okay";

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			loader@0 {
				label = "loader";
				reg = <0x0 0x1000000>;
			};
		};
	};
};

/*
&rockchip_suspend {
	status = "okay";
	compatible = "rockchip,pm-rk3588";
	rockchip,sleep-debug-en = <1>;
	rockchip,sleep-mode-config = <
		(0
		| RKPM_SLP_ARMOFF_DDRPD
		)
	>;
	rockchip,wakeup-config = <
		(0
		| RKPM_GPIO_WKUP_EN
		| RKPM_USB_WKUP_EN
		)
	>;
};
*/

&rkcif {
	status = "okay";
};

&rkcif_mmu {
	status = "okay";
};

&rkisp0 {
	status = "okay";
};

&isp0_mmu {
	status = "okay";
};

&rkisp1 {
	status = "okay";
};

&isp1_mmu {
	status = "okay";
};

//=== Other
#define M2_SATA3_OR_PCIE_OR_USB 1 /*1 = SATA , 0 = PCIe */
&combphy2_psu {
	status = "disabled";
};
//SATA2 begin
/*&sata3 {
	status = "disabled";
};
*/
//pcie begin
&pcie2x1l1 {
	status = "okay";
};
//pcie end
//SATA2 end
//USB30_2 begin
&usbhost3_0 {
	status = "disabled";
};

&usbhost_dwc3_0 {
	status = "disabled";
};

//-USB30_2 end
/*
&usbdp_phy0_dp {
	status = "disabled";
};
*/


&pinctrl {

//	usb {
//		vcc5v0_host_en: vcc5v0-host-en {
//			rockchip,pins = <4 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
//		};
//
//		vcc5v0_otg_en: vcc5v0-otg-en {
//			rockchip,pins = <2 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
//		};
//	};


	dp {
		dp0_hpd: dp0-hpd {
			 rockchip,pins = <4 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

//	headphone {
//		hp_det: hp-det {
//			rockchip,pins = <1 RK_PD5 RK_FUNC_GPIO &pcfg_pull_none>;
//		};
//	};

//	hym8563 {
//		hym8563_int: hym8563-int {
//			rockchip,pins = <0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>;
//		};
//	};


//	usb-typec {
//		usbc0_int: usbc0-int {
//			rockchip,pins = <0 RK_PD3 RK_FUNC_GPIO &pcfg_pull_up>;
//		};
//
//		typec5v_pwren: typec5v-pwren {
//			rockchip,pins = <3 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;
//		};
//	};

};


&gpio0 {
	gpio-line-names =
		/* GPIO0_A0-A3 */
		"", "", "", "",
		/* GPIO0_A4-A7 */
		"", "", "", "",

		/* GPIO0_B0-B3 */
		"", "", "", "",
		/* GPIO0_B4-B7 */
		"", "", "", "",

		/* GPIO0_C0-C3 */
		"", "", "", "",
		/* GPIO0_C4-C7 */
		"", "", "", "",

		/* GPIO0_D0-D3 */
		"", "", "", "",
		/* GPIO0_D4-D7 */
		"", "", "", "";
};

&gpio1 {
	gpio-line-names =
		/* GPIO1_A0-A3 */
		"", "", "", "",
		/* GPIO1_A4-A7 */
		"", "", "", "",

		/* GPIO1_B0-B3 */
		"", "", "", "",
		/* GPIO1_B4-B7 */
		"", "", "", "",

		/* GPIO1_C0-C3 */
		"", "", "", "",
		/* GPIO1_C4-C7 */
		"", "", "", "",

		/* GPIO1_D0-D3 */
		"", "", "", "",
		/* GPIO1_D4-D7 */
		"", "", "", "";
};

&gpio2 {
	gpio-line-names =
		/* GPIO2_A0-A3 */
		"", "", "", "",
		/* GPIO2_A4-A7 */
		"", "", "", "",

		/* GPIO2_B0-B3 */
		"", "", "", "",
		/* GPIO2_B4-B7 */
		"", "", "", "",

		/* GPIO2_C0-C3 */
		"", "", "", "",
		/* GPIO2_C4-C7 */
		"", "", "", "",

		/* GPIO2_D0-D3 */
		"", "", "", "",
		/* GPIO2_D4-D7 */
		"", "", "", "";
};

&gpio3 {
	gpio-line-names =
		/* GPIO3_A0-A3 */
		"", "", "", "",
		/* GPIO3_A4-A7 */
		"", "", "", "",

		/* GPIO3_B0-B3 */
		"", "", "", "",
		/* GPIO3_B4-B7 */
		"", "", "", "",

		/* GPIO3_C0-C3 */
		"", "", "", "",
		/* GPIO3_C4-C7 */
		"", "", "", "",

		/* GPIO3_D0-D3 */
		"", "", "", "",
		/* GPIO3_D4-D7 */
		"", "", "", "";
};

&gpio4 {
	gpio-line-names =
		/* GPIO4_A0-A3 */
		"", "", "", "",
		/* GPIO4_A4-A7 */
		"", "", "", "",

		/* GPIO4_B0-B3 */
		"", "", "", "",
		/* GPIO4_B4-B7 */
		"", "", "", "",

		/* GPIO4_C0-C3 */
		"", "", "", "",
		/* GPIO4_C4-C7 */
		"", "", "", "",

		/* GPIO4_D0-D3 */
		"", "", "", "",
		/* GPIO4_D4-D7 */
		"", "", "", "";
};

///////////////////////////
//rk3588-rk806-single.dtsi
///////////////////////////
&spi2 {
	status = "okay";
	assigned-clocks = <&cru CLK_SPI2>;
	assigned-clock-rates = <200000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&spi2m2_cs0 &spi2m2_pins>;
	num-cs = <1>;

	rk806single: rk806single@0 {
		compatible = "rockchip,rk806";
		spi-max-frequency = <1000000>;
		reg = <0x0>;

		interrupt-parent = <&gpio0>;
		interrupts = <7 IRQ_TYPE_LEVEL_LOW>;

		pinctrl-names = "default", "pmic-power-off";
		pinctrl-0 = <&pmic_pins>, <&rk806_dvs1_null>, <&rk806_dvs2_null>, <&rk806_dvs3_null>;
		pinctrl-1 = <&rk806_dvs1_pwrdn>;

		/* 2800mv-3500mv */
		low_voltage_threshold = <3000>;
		/* 2700mv-3400mv */
		shutdown_voltage_threshold = <2700>;
		/* 140 160 */
		shutdown_temperture_threshold = <160>;
		hotdie_temperture_threshold = <115>;

		/* 0: restart PMU;
		 * 1: reset all the power off reset registers,
		 *    forcing the state to switch to ACTIVE mode;
		 * 2: Reset all the power off reset registers,
		 *    forcing the state to switch to ACTIVE mode,
		 *    and simultaneously pull down the RESETB PIN for 5mS before releasing
		 */
		pmic-reset-func = <1>;

		vcc1-supply = <&vcc5v0_sys>;
		vcc2-supply = <&vcc5v0_sys>;
		vcc3-supply = <&vcc5v0_sys>;
		vcc4-supply = <&vcc5v0_sys>;
		vcc5-supply = <&vcc5v0_sys>;
		vcc6-supply = <&vcc5v0_sys>;
		vcc7-supply = <&vcc5v0_sys>;
		vcc8-supply = <&vcc5v0_sys>;
		vcc9-supply = <&vcc5v0_sys>;
		vcc10-supply = <&vcc5v0_sys>;
		vcc11-supply = <&vcc_2v0_pldo_s3>;
		vcc12-supply = <&vcc5v0_sys>;
		vcc13-supply = <&vcc_1v1_nldo_s3>;
		vcc14-supply = <&vcc_1v1_nldo_s3>;
		vcca-supply = <&vcc5v0_sys>;

		pwrkey {
			status = "okay";
		};

		pinctrl_rk806: pinctrl_rk806 {
			gpio-controller;
			#gpio-cells = <2>;

			rk806_dvs1_null: rk806_dvs1_null {
				pins = "gpio_pwrctrl2";
				function = "pin_fun0";
			};

			rk806_dvs1_slp: rk806_dvs1_slp {
				pins = "gpio_pwrctrl1";
				function = "pin_fun1";
			};

			rk806_dvs1_pwrdn: rk806_dvs1_pwrdn {
				pins = "gpio_pwrctrl1";
				function = "pin_fun2";
			};

			rk806_dvs1_rst: rk806_dvs1_rst {
				pins = "gpio_pwrctrl1";
				function = "pin_fun3";
			};

			rk806_dvs2_null: rk806_dvs2_null {
				pins = "gpio_pwrctrl2";
				function = "pin_fun0";
			};

			rk806_dvs2_slp: rk806_dvs2_slp {
				pins = "gpio_pwrctrl2";
				function = "pin_fun1";
			};

			rk806_dvs2_pwrdn: rk806_dvs2_pwrdn {
				pins = "gpio_pwrctrl2";
				function = "pin_fun2";
			};

			rk806_dvs2_rst: rk806_dvs2_rst {
				pins = "gpio_pwrctrl2";
				function = "pin_fun3";
			};

			rk806_dvs2_dvs: rk806_dvs2_dvs {
				pins = "gpio_pwrctrl2";
				function = "pin_fun4";
			};

			rk806_dvs2_gpio: rk806_dvs2_gpio {
				pins = "gpio_pwrctrl2";
				function = "pin_fun5";
			};

			rk806_dvs3_null: rk806_dvs3_null {
				pins = "gpio_pwrctrl3";
				function = "pin_fun0";
			};

			rk806_dvs3_slp: rk806_dvs3_slp {
				pins = "gpio_pwrctrl3";
				function = "pin_fun1";
			};

			rk806_dvs3_pwrdn: rk806_dvs3_pwrdn {
				pins = "gpio_pwrctrl3";
				function = "pin_fun2";
			};

			rk806_dvs3_rst: rk806_dvs3_rst {
				pins = "gpio_pwrctrl3";
				function = "pin_fun3";
			};

			rk806_dvs3_dvs: rk806_dvs3_dvs {
				pins = "gpio_pwrctrl3";
				function = "pin_fun4";
			};

			rk806_dvs3_gpio: rk806_dvs3_gpio {
				pins = "gpio_pwrctrl3";
				function = "pin_fun5";
			};
		};

		regulators {
			vdd_gpu_s0: vdd_gpu_mem_s0: DCDC_REG1 {
				regulator-boot-on;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_gpu_s0";
				regulator-enable-ramp-delay = <400>;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_cpu_lit_s0: vdd_cpu_lit_mem_s0: DCDC_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <950000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_cpu_lit_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_log_s0: DCDC_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <675000>;
				regulator-max-microvolt = <750000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_log_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <750000>;
				};
			};

			vdd_vdenc_s0: vdd_vdenc_mem_s0: DCDC_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <550000>;
				regulator-max-microvolt = <950000>;
				regulator-init-microvolt = <750000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_vdenc_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_ddr_s0: DCDC_REG5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <675000>;
				regulator-max-microvolt = <900000>;
				regulator-ramp-delay = <12500>;
				regulator-name = "vdd_ddr_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <850000>;
				};
			};

			vdd2_ddr_s3: DCDC_REG6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vdd2_ddr_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vcc_2v0_pldo_s3: DCDC_REG7 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <2000000>;
				regulator-max-microvolt = <2000000>;
				regulator-name = "vdd_2v0_pldo_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <2000000>;
				};
			};

			vcc_3v3_s3: DCDC_REG8 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc_3v3_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vddq_ddr_s0: DCDC_REG9 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vddq_ddr_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v8_s3: DCDC_REG10 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc_1v8_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			avcc_1v8_s0: PLDO_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "avcc_1v8_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v8_s0: PLDO_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc_1v8_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			avdd_1v2_s0: PLDO_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-name = "avdd_1v2_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_3v3_s0: PLDO_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc_3v3_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vccio_sd_s0: PLDO_REG5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vccio_sd_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			pldo6_s3: PLDO_REG6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "pldo6_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vdd_0v75_s3: NLDO_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <750000>;
				regulator-name = "vdd_0v75_s3";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <750000>;
				};
			};

			vdd_ddr_pll_s0: NLDO_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <850000>;
				regulator-name = "vdd_ddr_pll_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
					regulator-suspend-microvolt = <850000>;
				};
			};

			avdd_0v75_s0: NLDO_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <837500>;
				regulator-max-microvolt = <837500>;
				regulator-name = "avdd_0v75_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_0v85_s0: NLDO_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <850000>;
				regulator-name = "vdd_0v85_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_0v75_s0: NLDO_REG5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <750000>;
				regulator-name = "vdd_0v75_s0";
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};
	};
};


///////////////////////////
//atb-rk3588-pre.dtsi
///////////////////////////
/ {

//	spi2: spi@feb20000 {
//		compatible = "rockchip,rk3066-spi";
//		reg = <0x0 0xfeb20000 0x0 0x1000>;
//		interrupts = <GIC_SPI 328 IRQ_TYPE_LEVEL_HIGH>;
//		#address-cells = <1>;
//		#size-cells = <0>;
//		clocks = <&cru CLK_SPI2>, <&cru PCLK_SPI2>;
//		clock-names = "spiclk", "apb_pclk";
//		dmas = <&dmac1 15>, <&dmac1 16>;
//		dma-names = "tx", "rx";
//		pinctrl-names = "default";
//		pinctrl-0 = <&spi2m2_cs0 &spi2m2_pins>;
//		num-cs = <1>;
//		status = "okay";
//	};

	vcc12v_dcin: vcc12v-dcin {
		compatible = "regulator-fixed";
		regulator-name = "vcc12v_dcin";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		status = "okay";
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc12v_dcin>;
		status = "okay";
	};

	vcc5v0_usbdcin: vcc5v0-usbdcin {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usbdcin";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc12v_dcin>;
	};

	vcc5v0_usb: vcc5v0-usb {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_usb";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc5v0_usbdcin>;
	};
	/*D5 */
	vcc_1v1_nldo_s3: vcc-1v1-nldo-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v1_nldo_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1100000>;
		regulator-max-microvolt = <1100000>;
		vin-supply = <&vcc5v0_sys>;
	};
/* unused virtual load */
	combophy_avdd0v85: combophy-avdd0v85 {
		compatible = "regulator-fixed";
		regulator-name = "combophy_avdd0v85";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <850000>;
		regulator-max-microvolt = <850000>;
		vin-supply = <&vdd_0v85_s0>;
	};

	combophy_avdd1v8: combophy-avdd1v8 {
		compatible = "regulator-fixed";
		regulator-name = "combophy_avdd1v8";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&avcc_1v8_s0>;
	};

// HDMI1_TX_ON_H  - page 14, block 9-8 
// Gate 500R on inout
	vdd_hdmi1txon: REGDMY1 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_hdmi1txon";
		regulator-boot-on;
		regulator-always-on;
//		enable-active-high;
		gpios = <&gpio4 RK_PB2 GPIO_ACTIVE_LOW>;
		vin-supply = <&vcc5v0_sys>;
//		status = "okay";
	};

// SDMMC_PWREN_ - page 14, block D9-8
// Power SD-MMC
	vdd_sd0pwr: REGDMY2 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_sd0pwr";
		regulator-boot-on;
		regulator-always-on;
//		enable-active-high;
		gpios = <&gpio4 RK_PA5 GPIO_ACTIVE_LOW>;
		vin-supply = <&vcc5v0_sys>;
		status = "okay";
	};

// 1v8_DP_PWR_EN_ - page 10, block D9-5
// Power DP0
	vdd_dp0pwr: REGDMY3 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_dp0pwr";
		regulator-boot-on;
		regulator-always-on;
//		enable-active-high;
		gpios = <&gpio1 RK_PD5 GPIO_ACTIVE_LOW>;
		vin-supply = <&vcc5v0_sys>;
		status = "okay";
	};

// 1v8_NHI_PWREN_ - page 10, block D9-5
// Power INTEL i350
	vdd_hrdnhi: REGDMY4 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_hrdnhi";
		regulator-boot-on;
		regulator-always-on;
//		enable-active-high;
		gpios = <&gpio1 RK_PC6 GPIO_ACTIVE_LOW>;
		vin-supply = <&vcc5v0_sys>;
		status = "okay";
	};

// 1v8_PCIE_EXT_PWREN_ - page 10, block D9-5
// Power on External PCI
	vdd_pciext: REGDMY5 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_pciext";
		regulator-boot-on;
		regulator-always-on;
//		enable-active-high;
		gpios = <&gpio1 RK_PC4 GPIO_ACTIVE_LOW>;
		vin-supply = <&vcc5v0_sys>;
		status = "okay";
	};

	vcc3v3_pcie2x1l2: vcc3v3-pcie2x1l2 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie2x1l2";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
//		startup-delay-us = <5000>;
		regulator-boot-on;
		regulator-always-on;
		vin-supply = <&vcc_3v3_s3>;
		status = "okay";
	};

	vcc3v3_pcie2x1l0: vcc3v3-pcie2x1l0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie2x1l0";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
//		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
//		gpios = <&gpio1 RK_PD2 GPIO_ACTIVE_HIGH>;
//		startup-delay-us = <50000>;
		vin-supply = <&vcc5v0_sys>;
		status = "okay";
	};

	vcc3v3_pcie30: vcc3v3-pcie30 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie30";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
//		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
//		gpios = <&gpio1 RK_PA4 GPIO_ACTIVE_HIGH>;
//		startup-delay-us = <5000>;
		vin-supply = <&vcc5v0_sys>;
		status = "okay";
	};

	adc_keys: adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		vol-up-key {
			label = "volume up";
			linux,code = <KEY_VOLUMEUP>;
			press-threshold-microvolt = <17000>;
		};

		vol-down-key {
			label = "volume down";
			linux,code = <KEY_VOLUMEDOWN>;
			press-threshold-microvolt = <417000>;
		};

		menu-key {
			label = "menu";
			linux,code = <KEY_MENU>;
			press-threshold-microvolt = <890000>;
		};

		back-key {
			label = "back";
			linux,code = <KEY_BACK>;
			press-threshold-microvolt = <1235000>;
		};
	};

};


///////////////////////
//rk3588-linux.dtsi
//////////////////////
/ {
	aliases {
		mmc0 = &sdhci;
		mmc1 = &sdmmc;
		mmc2 = &sdio;
	};

	chosen: chosen {
		bootargs = "earlycon=uart8250,mmio32,0xfeb50000 console=ttyFIQ0";
		stdout-path = "serial2:115200n8";
	};

	cspmu: cspmu@fd10c000 {
		compatible = "rockchip,cspmu";
		reg = <0x0 0xfd10c000 0x0 0x1000>,
		      <0x0 0xfd10d000 0x0 0x1000>,
		      <0x0 0xfd10e000 0x0 0x1000>,
		      <0x0 0xfd10f000 0x0 0x1000>,
		      <0x0 0xfd12c000 0x0 0x1000>,
		      <0x0 0xfd12d000 0x0 0x1000>,
		      <0x0 0xfd12e000 0x0 0x1000>,
		      <0x0 0xfd12f000 0x0 0x1000>;
	};

	debug: debug@fd104000 {
		compatible = "rockchip,debug";
		reg = <0x0 0xfd104000 0x0 0x1000>,
		      <0x0 0xfd105000 0x0 0x1000>,
		      <0x0 0xfd106000 0x0 0x1000>,
		      <0x0 0xfd107000 0x0 0x1000>,
		      <0x0 0xfd124000 0x0 0x1000>,
		      <0x0 0xfd125000 0x0 0x1000>,
		      <0x0 0xfd126000 0x0 0x1000>,
		      <0x0 0xfd127000 0x0 0x1000>;
	};

	fiq_debugger: fiq-debugger {
		compatible = "rockchip,fiq-debugger";
		rockchip,serial-id = <2>;
		rockchip,wake-irq = <0>;
		/* If enable uart uses irq instead of fiq */
		rockchip,irq-mode-enable = <1>;
		rockchip,baudrate = <115200>;  /* Only 115200 and 1500000 */
		interrupts = <GIC_SPI 423 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart2m0_xfer>;
		status = "okay";
	};

	firmware {
		optee: optee {
			compatible = "linaro,optee-tz";
			method = "smc";
			//status = "disabled";
		};
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 (8 * 0x100000)>;
			linux,cma-default;
		};

		drm_logo: drm-logo@00000000 {
			compatible = "rockchip,drm-logo";
			reg = <0x0 0x0 0x0 0x0>;
		};

		drm_cubic_lut: drm-cubic-lut@00000000 {
			compatible = "rockchip,drm-cubic-lut";
			reg = <0x0 0x0 0x0 0x0>;
		};

		ramoops: ramoops@110000 {
			compatible = "ramoops";
			reg = <0x0 0x110000 0x0 0xf0000>;
			record-size = <0x20000>;
			console-size = <0x80000>;
			ftrace-size = <0x00000>;
			pmsg-size = <0x50000>;
		};
	};
};

&display_subsystem {
	memory-region = <&drm_logo>;
	memory-region-names = "drm-logo";
};

&dfi {
	status = "okay";
};

&dmc {
	status = "okay";
	center-supply = <&vdd_ddr_s0>;
	mem-supply = <&vdd_log_s0>;
};

&rng {
	status = "okay";
};
