/{

/*
	This is dummy regulator.
	It is used to have ability to switch X14 between SATA and USB
*/
	m2_usb3_en: m2-usb3-en {
		compatible = "regulator-fixed";
		enable-active-high;
		// M2_USB3.0_EN  PD(R161)
		gpio = <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&m2_usb3_en_pin>;
		regulator-name = "m2_usb3_en";
		//regulator-always-on;
		regulator-always-off;
	};

/*
	This is dummy regulator.
	It is used to have ability to supply X4 USB3 OTG with power
*/
	cpu_otg_usb_en: cpu-otg-usb-en {
		compatible = "regulator-fixed";
		enable-active-high;
		// CPU_USB_OTG_EN -> D3, X4
		gpio = <&gpio2 RK_PD6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&cpu_otg_usb_en_pin>;
		regulator-name = "cpu_otg_usb_en";
		regulator-always-on;
		//regulator-always-off;
	};

/*
	This is dummy regulator.
	It is used to have ability to supply X5[0] USB2 HOST with power
*/
	usb2_h2_en: usb2-h2-en {
		compatible = "regulator-fixed";
		enable-active-high;
		// CPU_USB_OTG_EN -> D4, X5[0]
		gpio = <&gpio0 RK_PB0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb2_h2_en_pin>;
		regulator-name = "usb2_h2_en";
		regulator-always-on;
		//regulator-always-off;
	};

/*
	This is dummy regulator.
	It is used to have ability to supply X5[1] USB2 HOST with power
*/
	usb2_h3_en: usb2-h3-en {
		compatible = "regulator-fixed";
		enable-active-high;
		// CPU_USB_OTG_EN -> D4, X5[1]
		gpio = <&gpio4 RK_PB7 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb2_h3_en_pin>;
		regulator-name = "usb2_h3_en";
		regulator-always-on;
		//regulator-always-off;
	};
/*
	vcc5v0_usb: vcc5v0-usb {
		compatible = "regulator-fixed";
		enable-active-high;
		// gpio = <&gpio0 RK_PD5 GPIO_ACTIVE_HIGH>;
		regulator-name = "vcc5v0_usb";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&dc_12v>;
	};

	vcc5v0_usb_host: vcc5v0-usb-host {
		compatible = "regulator-fixed";
		enable-active-high;
		// gpio = <&gpio0 RK_PD6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		// pinctrl-0 = <&vcc5v0_usb_host_en>;
		regulator-name = "vcc5v0_usb_host";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc5v0_usb>;
	};

	vcc5v0_usb_otg: vcc5v0-usb-otg {
		compatible = "regulator-fixed";
		enable-active-high;
		// gpio = <&gpio0 RK_PD5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		// pinctrl-0 = <&vcc5v0_usb_otg_en>;
		regulator-name = "vcc5v0_usb_otg";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc5v0_usb>;
	};
*/
};

/*
	USB2_HOST2
*/

/*
	This controller is connected to X5 upper port
*/
&usb_host0_ehci {
	phys = <&u2phy0_host>;
	phy-names = "usb";
	status = "okay";
};

/*
	This controller is connected to X5 upper port
*/
&usb_host0_ohci {
	phys = <&u2phy0_host>;
	phy-names = "usb";
	status = "okay";
};

&u2phy0_host {
	//phy-supply = <&vcc5v0_usb_host>;
	phy-supply = <&usb2_h2_en>;
	status = "okay";
};

&u2phy0_otg {
	//phy-supply = <&vcc5v0_usb_otg>;
	phy-supply = <&cpu_otg_usb_en>;
	status = "okay";
};

&usb2phy0 {
	status = "okay";
};

/*
	USB2_HOST3
*/

/*
	This controller is connected to X5 lower port
*/
&usb_host1_ehci {
	phys = <&u2phy1_host>;
	phy-names = "usb";
	status = "okay";
};

/*
	This controller is connected to X5 lower port
*/
&usb_host1_ohci {
	phys = <&u2phy1_host>;
	phy-names = "usb";
	status = "okay";
};


&u2phy1_host {
	//phy-supply = <&vcc5v0_usb_host>;
	phy-supply = <&usb2_h3_en>;
	status = "okay";
};


&u2phy1_otg {
	//phy-supply = <&vcc5v0_usb_host>;
	phy-supply = <&usb2_h3_en>;
	status = "okay";
};

&usb2phy1 {
	status = "okay";
};

/*
	USB3_OTG0 or SATA0
*/
// X4
&usbdrd_dwc3 {
	phys = <&u2phy0_otg>, <&combphy0_us PHY_TYPE_USB3>;
	phy-names = "usb2-phy";
	maximum-speed = "high-speed";
	snps,dis_u2_susphy_quirk;
	// If this controller is enabled, sata0 must be disabled
	status = "okay";
};

// If this controller is enabled, usbdrd_dwc3 must be disabled
&sata0 {
	status = "disabled";
};


// This controller is phy for usbdrd_dwc3 and sata0 controllers
&combphy0_us {
	status = "okay";
};

/*
	USB3_HOST1 or SATA1
*/

/*
	Signals form usbhost_dwc3 and sata1 controllers controllers go through D12(switch)(EXT_SATA_EN) and D10(switch)(M2_USB3.0_EN) to X14(m.2B) or X16(SATA).
	To supply X16(SATA) with signals from SATA1 it needs to set EXT_SATA_EN=1 (+3.3v) and disable usbhost_dwc3 controller.
	To supply X14(m.2B) with signals from SATA1 it needs to set EXT_SATA_EN=0 (GND) and disable usbhost_dwc3 controller.
	To supply X14(m.2B) with signals from USB3_HOS1 it needs to set EXT_SATA_EN=0 (GND), M2_USB3.0_EN=1 (+3.3v) and disable sata1 controller.
	By defaults M2_USB3.0_EN signal is pulled down via R161 and EXT_SATA_EN signal is pulled down via R165 and can be pulled up via X17.
*/
&usbhost_dwc3 {
	phys = <&u2phy0_host>, <&combphy1_usq PHY_TYPE_USB3>;
	phy-names = "usb2-phy";
	maximum-speed = "high-speed";
	// If this controller is enabled, sata1 must be disabled
	status = "disabled";
};

// This board doesn't use this controller
&sata1 {
	phys = <&combphy1_usq PHY_TYPE_SATA>;
	phy-names = "sata-phy";

	// If this controller is enabled, usbhost_dwc3 must be disabled
	status = "okay";
};

// This controller is phy for usbhost_dwc3 and sata1 controllers
&combphy1_usq {
	status = "okay";
};

/*
	PCIE2x1 or SATA2
*/

// This board doesn't use this controller
&pcie2x1 {
	phys = <&combphy2_psq PHY_TYPE_PCIE>;
	phy-names = "pcie-phy";
	status = "disabled";
};

/*
	SATA2 <-> D13 (switch) <-> X18 (m.2B/M)
	he signals from SATA2 go through D13 in case if M2_CONFIG signal is set to low level (GND).
	By default M2_CONFIG is set up to high level (+3.3v) via R177
*/
&sata2 {
    phys = <&combphy2_psq PHY_TYPE_SATA>;
    status = "disabled";
};

// This controller is phy for pcie2x1 and sata2 controllers
&combphy2_psq {
	status = "disabled";
};

&pinctrl {
	sata_usb {
		m2_usb3_en_pin: m2-usb3-en-pin {
			// M2_USB3.0_EN
			rockchip,pins = <1 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb {
		cpu_otg_usb_en_pin: cpu-otg-usb-en-pin{
			// CPU_USB_OTG_EN, X4
			rockchip,pins = <2 RK_PD6 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usb2_h2_en_pin: usb2-h2-en-pin{
			// USB2_H2_EN, X5[0]
			rockchip,pins = <0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usb2_h3_en_pin: usb2-h3-en-pin{
			// USB2_H3_EN, X5[1]
			rockchip,pins = <4 RK_PB7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
