
/ {

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&rtc_clock>; // <----------------------------------!!!
		clock-names = "ext_clock"; // <----------------------------------!!!
		pinctrl-names = "default";
		pinctrl-0 = <&wlan_en_pin>;

		// WLAN_EN
		reset-gpios = <&gpio0 RK_PB2 GPIO_ACTIVE_LOW>;
	};

	// A1
	wireless_wlan: wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&grf>;
		wifi_chip_type = "ap6398s"; // <----------------------------------!!!
/*
		This signal is absent on the board

		pinctrl-names = "default";
		pinctrl-0 = <&wifi_host_wake_irq>;
		WIFI,host_wake_irq = <&gpio3 RK_PD4 GPIO_ACTIVE_HIGH>;
*/
		status = "okay";
	};

    // A1
	wireless_bluetooth: wireless-bluetooth {
		compatible = "bluetooth-platdata";
		// This chip is clocked form D24 via WiFi_32KHZ signal
		clocks = <&rtc_clock>;  // <----------------------------------!!!
		clock-names = "ext_clock";    // <----------------------------------!!!
		//wifi-bt-power-toggle;

		// UART1_RTS
		uart_rts_gpios = <&gpio4 RK_PB6 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default", "rts_gpio";
		pinctrl-0 = <&uart1m1_rtsn>;
		pinctrl-1 = <&uart1_gpios>;

		// BT_EN
		BT,reset_gpio    = <&gpio4 RK_PB0 GPIO_ACTIVE_HIGH>;
/*
		This signala are absent on the board

		BT,wake_gpio     = <&gpio3 RK_PA1 GPIO_ACTIVE_HIGH>;
		BT,wake_host_irq = <&gpio3 RK_PA2 GPIO_ACTIVE_HIGH>;
*/		
		status = "okay";
	};
};

&sdmmc2 {
	/* WiFi & BT combo module Fn-Link 8223A-SR */
	#address-cells = <1>;
	#size-cells = <0>;
	bus-width = <4>;
	clock-frequency = <150000000>;
	cap-sdio-irq;
	cap-sd-highspeed;
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>; // <------------------------------------!!!
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc2m0_bus4 &sdmmc2m0_clk &sdmmc2m0_cmd>;
	sd-uhs-sdr104;
	status = "okay";

	brcmf: wifi@0 {
		compatible = "brcm,bcm4329-fmac"; // <------------------------------------!!!
		reg = <1>;
/*
		This signal is absent on the board

		interrupt-parent = <&gpio3>;
		interrupts = <RK_PD4 GPIO_ACTIVE_HIGH>;
		interrupt-names = "host-wake";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_host_wake_irq>;
*/
	};
};

&pinctrl {
	sdio-pwrseq {
/*
		WLAN_EN is pulled down to GND via R237(10K)
*/
		wlan_en_pin: wlan-en-pin {
			rockchip,pins = <4 RK_PA7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
/*
	This signal is absent on the board

	wireless-wlan {
		wifi_host_wake_irq: wifi-host-wake-irq {
			rockchip,pins = <3 RK_PD4 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};
*/
	wireless-bluetooth {
		// UART1_RTS
		uart1_gpios: uart1-gpios {
			rockchip,pins = <4 RK_PB6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
/*
		BT_EN is pulled down to GND via R238(10K)
*/        
        bt_en_pin: bt-en-pin {
			rockchip,pins = <4 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
