/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/input/rk-input.h>
#include <dt-bindings/display/drm_mipi_dsi.h>
#include <dt-bindings/display/rockchip_vop.h>
#include <dt-bindings/sensor-dev.h>
#include "dt-bindings/usb/pd.h"
#include "rockchip/rk3588.dtsi"

#include "atb-rk3588-mitx-codecs.dtsi"
#include "atb-rk3588-mitx-ethernet.dtsi"
#include "atb-rk3588-mitx-pci.dtsi"
#include "atb-rk3588-mitx-power.dtsi"
#include "atb-rk3588-mitx-usb.dtsi"
#include "atb-rk3588-mitx-video.dtsi"

/ {
	model = "ATB RK3588 MITX";
	compatible = "atb,rk3588-mitx", "rockchip,rk3588";

	aliases {
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
		mmc0 = &sdhci;
		mmc1 = &sdmmc;
	};
	
	chosen: chosen {
		bootargs = "earlycon=uart8250,mmio32,0xfeb50000 console=ttyFIQ0";
		stdout-path = "serial2:115200n8";
	};

	//DEBUG ON UART2
	fiq_debugger: fiq-debugger {
		compatible = "rockchip,fiq-debugger";
		rockchip,serial-id = <2>;
		rockchip,wake-irq = <0>;
		//If enable uart uses irq instead of fiq
		rockchip,irq-mode-enable = <1>;
		rockchip,baudrate = <115200>;  // Only 115200 and 1500000
		interrupts = <GIC_SPI 423 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart2m0_xfer>;
		status = "okay";
	};
	
	cspmu: cspmu@fd10c000 {
		compatible = "rockchip,cspmu";
		reg = <0x0 0xfd10c000 0x0 0x1000>,
			  <0x0 0xfd10d000 0x0 0x1000>,
			  <0x0 0xfd10e000 0x0 0x1000>,
			  <0x0 0xfd10f000 0x0 0x1000>,
			  <0x0 0xfd12c000 0x0 0x1000>,
			  <0x0 0xfd12d000 0x0 0x1000>,
			  <0x0 0xfd12e000 0x0 0x1000>,
			  <0x0 0xfd12f000 0x0 0x1000>;
	};

	debug: debug@fd104000 {
		compatible = "rockchip,debug";
		reg = <0x0 0xfd104000 0x0 0x1000>,
			  <0x0 0xfd105000 0x0 0x1000>,
			  <0x0 0xfd106000 0x0 0x1000>,
			  <0x0 0xfd107000 0x0 0x1000>,
			  <0x0 0xfd124000 0x0 0x1000>,
			  <0x0 0xfd125000 0x0 0x1000>,
			  <0x0 0xfd126000 0x0 0x1000>,
			  <0x0 0xfd127000 0x0 0x1000>;
	};
	
	firmware {
		optee: optee {
			compatible = "linaro,optee-tz";
			method = "smc";
			//status = "disabled";
		};
	};

	// D13
	eMMC_MUX_ENA: eMMC_MUX_ENA {
		compatible = "regulator-fixed";
		regulator-name = "eMMC_MUX_ENA";
		regulator-always-on;
		regulator-boot-on;
		//enable-active-low;    //FSPI
		enable-active-high; //eMMC
		gpios = <&gpio4 RK_PB4 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc3v3>;
	};

	// D16
	//EN_USB2_0_PWR
	usb2_0_vcc: usb2_0_vcc {
		compatible = "regulator-fixed";
		regulator-name = "en_usb2_0_vcc";
		regulator-boot-on;
		regulator-always-on;
		enable-active-high;
		gpios = <&gpio1 RK_PA4 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0>;
		status = "okay";
	};

	//D17
	//EN_USB3_0_PWR
	usb3_0_vcc: usb3_0_vcc {
		compatible = "regulator-fixed";
		regulator-name = "en_usb3_0_vcc";
		regulator-boot-on;
		regulator-always-on;
		enable-active-high;
		gpios = <&gpio4 RK_PB0 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0>;
		status = "okay";
	};

	//D18
	//EN_USB3_1_PWR
	usb3_1_vcc: usb3_1_vcc {
		compatible = "regulator-fixed";
		regulator-name = "en_usb3_1_vcc";
		regulator-boot-on;
		regulator-always-on;
		enable-active-high;
		gpios = <&gpio4 RK_PA4 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0>;
		status = "okay";
	};

	//D19 //D20
	//USBHUB_RSTn
	usbhub_rstn: usbhub_rstn {
		compatible = "regulator-fixed";
		regulator-name = "usbhub_rstn";
		regulator-boot-on;
		regulator-always-on;
		enable-active-high;
		gpios = <&gpio1 RK_PB4 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc_3v3>;
		status = "okay";
	};

	//D21 USBHUB0_PWR //Always enable
	//D22 USBHUB1_PWR //Always enable

	//CHECK_IT //Как это работает?
	//D23 M2kB_PCIE_CFG1 //Автовыбор
	//D24 M2kB_PCIE_CFG1 //Автовыбор

	//D25
	miniPCIe_1_5v: miniPCIe_1_5v {
		compatible = "regulator-fixed";
		regulator-name = "vcc_miniPCIe_1_5v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		vin-supply = <&vcc3v3>;
	};
	
	//D39 //D40
	//CHECK_IT //TEST
	/*
	watchdog {
		compatible = "linux,wdt-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_watchdog_gpio>;
		always-running;
		gpios = <&gpio4 RK_PA7 GPIO_ACTIVE_HIGH>;
		hw_algo = "toggle";
		// Reset triggers in 2..3 seconds 
		hw_margin_ms = <700>;
		// Disabled by default 
		status = "disabled";
	};
	*/
	
	sound {
		compatible = "audio-graph-card";
		label = "rockchip,es8388-codec";
		widgets = "Microphone", "Mic Jack",
			  "Headphone", "Headphones";
		routing = "LINPUT2", "Mic Jack",
			  "Headphones", "LOUT1",
			  "Headphones", "ROUT1";
		dais = <&i2s0_8ch_p0>;
	};
	
	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&rtc_clock>; // <----------------------------------!!!
		clock-names = "ext_clock"; // <----------------------------------!!!
		pinctrl-names = "default";
		pinctrl-0 = <&wlan_en_pin>;

		//post-power-on-delay-ms = <200>;   //CHECK_IT
		// SDMMC_PWREN_
		reset-gpios = <&gpio4 RK_PA5 GPIO_ACTIVE_LOW>;
	};
	
	//D45
	//mPCIE_m2_SEL  //ВХОД! Рулится джампером X37
	/*
	PciE20_1_Sata_Mux: PciE20_1_Sata_Mux {
		compatible = "regulator-fixed";
		regulator-name = "PciE20_1_Sata_Mux";
		regulator-always-on;
		regulator-boot-on;
		enable-active-high;
		//SATA mPcie Slot
		//gpios = <&gpio4 RK_PB1 GPIO_ACTIVE_LOW>;
		//Sata M.2 E Slot
		gpios = <&gpio4 RK_PB1 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc3v3>;
	};
	*/

	// Pcie host power.
	PCIE_EXT_PWREN_: PCIE_EXT_PWREN_ {
		compatible = "regulator-fixed";
		regulator-name = "PCIE_EXT_PWREN_";
		regulator-boot-on;
		regulator-always-on;
		enable-active-low;
		gpios = <&gpio1 RK_PB3 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc4v0_sys>;
		status = "okay";
	};
	
	// Pcie host clock.
	PCIE_x4_CLK_ENA_: PCIE_x4_CLK_ENA_ {
		compatible = "regulator-fixed";
		regulator-name = "PCIE_x4_CLK_ENA_";
		regulator-boot-on;
		regulator-always-on;
		enable-active-high;
		gpios = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc4v0_sys>;
		status = "okay";
	};
	// Pcie host clock.
	PCIE30_CPU_CLK_ENA_: PCIE30_CPU_CLK_ENA_ {
		compatible = "regulator-fixed";
		regulator-name = "PCIE30_CPU_CLK_ENA_";
		regulator-boot-on;
		regulator-always-on;
		enable-active-high;
		gpios = <&gpio4 RK_PA0 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc4v0_sys>;
		status = "okay";
	};
	
	// Pcie reset.
	PCIe_RST_: PCIe-RST- {
		compatible = "regulator-fixed";
		regulator-name = "PCIe_RST_";
		regulator-boot-on;
		regulator-always-on;
		enable-active-high;
		gpios = <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc4v0_sys>;
		status = "okay";
	};
	
	//X21
	//m.2 and miniPCIe reset 
	miniPCIe_RST_: miniPCIe_RST_ {
		compatible = "regulator-fixed";
		regulator-name = "miniPCIe_RST_";
		regulator-boot-on;
		regulator-always-on;
		enable-active-high;
		gpios = <&gpio4 RK_PC1 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc4v0_sys>;
		status = "okay";
	};
	
	//X38
	//m.2 and miniPCIe reset 
	M2kB_PCIE_RSTn: M2kB_PCIE_RSTn {
		compatible = "regulator-fixed";
		regulator-name = "M2kB_PCIE_RSTn";
		regulator-boot-on;
		regulator-always-on;
		enable-active-high;
		gpios = <&gpio1 RK_PA2 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc4v0_sys>;
		status = "okay";
	};

	// If hdmirx node is disabled, delete the reserved-memory node here. 
	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		// Reserve 256MB memory for hdmirx-controller@fdee0000
		cma {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x0 (256 * 0x100000) 0x0 (256 * 0x100000)>;
			linux,cma-default;
		};
		drm_logo: drm-logo@00000000 {
			compatible = "rockchip,drm-logo";
			reg = <0x0 0x0 0x0 0x0>;
		};

		drm_cubic_lut: drm-cubic-lut@00000000 {
			compatible = "rockchip,drm-cubic-lut";
			reg = <0x0 0x0 0x0 0x0>;
		};

		ramoops: ramoops@110000 {
			compatible = "ramoops";
			reg = <0x0 0x110000 0x0 0xf0000>;
			record-size = <0x20000>;
			console-size = <0x80000>;
			ftrace-size = <0x00000>;
			pmsg-size = <0x50000>;
		};
	};
	
	test-power {
		status = "okay";
	};
	
	fan0: pwm-fan {
		compatible = "pwm-fan";
		#cooling-cells = <2>;
		cooling-levels = <72 94 117 139 162 184 207 229 255>;
		pwms = <&pwm12 0 10000 0>;
	};
};

&i2c4 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4m2_xfer>;
	status = "okay";

	//X20 (M.2 key B) SMBUS

	//D37  //Serial AT24C02C-SSHM-T
	//CHECK_IT //FIx addr
	eeprom@50 {
		compatible = "atmel,24c02";
		reg = <0x52>;
	};

	//D38   //Temp Sensor TMP102
	tmp102: tmp102@48{
		compatible = "ti,tmp102";
		reg = <0x48>;
		interrupt-parent = <&gpio3>;
		interrupts = <RK_PD3 IRQ_TYPE_LEVEL_LOW>;
		#thermal-sensor-cells = <0>;
	};
	
	// D43
	hym8563: rtc@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		#clock-cells = <0>;
		clock-output-names = "rtc_32khz";
		rtc_clock: rtc_clock {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <32768>;
		};
	};
	
	//Optional
	//X20 //m.2 Key B
	//X38 //miniPCIe
};

&i2c7 {
	pinctrl-0 = <&i2c7m0_xfer>;
	status = "okay";

	//D41
	es8388: audio-codec@11 {
		compatible = "everest,es8388";
		reg = <0x11>;
		assigned-clock-rates = <12288000>;
		assigned-clocks = <&cru I2S0_8CH_MCLKOUT>;
		AVDD-supply = <&vcca_3v3_s0>;
		clock-names = "mclk";
		clocks = <&cru I2S0_8CH_MCLKOUT>;
		DVDD-supply = <&vcc_1v8_s0>;
		HPVDD-supply = <&vcca_3v3_s0>;
		PVDD-supply = <&vcc_1v8_s0>;
		#sound-dai-cells = <0>;

		port {
			es8388_p0_0: endpoint {
				remote-endpoint = <&i2s0_8ch_p0_0>;
			};
		};
	};
};

//=============================================================================
//  I2S
//=============================================================================
//I2S0
//Typical digital audio I/O
&i2s0_8ch {
	pinctrl-names = "default";
	pinctrl-0 = <&i2s0_lrck
			 &i2s0_mclk
			 &i2s0_sclk
			 &i2s0_sdi0
			 &i2s0_sdo0>;
	status = "okay";

	i2s0_8ch_p0: port {
		i2s0_8ch_p0_0: endpoint {
			dai-format = "i2s";
			mclk-fs = <256>;
			remote-endpoint = <&es8388_p0_0>;
		};
	};
};

//HDMI1 SOUND
&i2s6_8ch {
	status = "okay";
};

//HDMIIN SOUND
&i2s7_8ch {
	status = "okay";
};

//=============================================================================
//  //CPU
//=============================================================================
//D8    //CPU
&cpu_l0 {
	cpu-supply = <&vdd_cpu_lit_s0>;
	mem-supply = <&vdd_cpu_lit_mem_s0>;
};

&cpu_b0 {
	cpu-supply = <&vdd_cpu_big0_s0>;
	mem-supply = <&vdd_cpu_big0_mem_s0>;
};

&cpu_b2 {
	cpu-supply = <&vdd_cpu_big1_s0>;
	mem-supply = <&vdd_cpu_big1_mem_s0>;
};

//=============================================================================
//  //LPDDR4
//=============================================================================
//D9 D10    //LPDDR4
&dmc {
	status = "okay";
	center-supply = <&vdd_ddr_s0>;
	mem-supply = <&vdd_log_s0>;
};
&dfi {
	status = "okay";
};

//=============================================================================
//  //SPI FLASH //Muxed with eMMC   //Control by D13 (TS3A27518ERTWR)
//=============================================================================
//eMMC_MUX_ENA
/*
&sfc {
	status = "okay";
	//max-freq = <50000000>;
	max-freq = <20000000>;
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&fspim0_pins>;

	//D12
	spi_flash: spi-flash@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "jedec,spi-nor";
		reg = <0x0>;
		//spi-max-frequency = <50000000>;
		spi-max-frequency = <20000000>;
		spi-tx-bus-width = <1>;
		//spi-rx-bus-width = <4>;
		spi-rx-bus-width = <1>;
		status = "okay";
	};
};
*/
//=============================================================================
//  SDIO SD eMMC
//=============================================================================
//D11   //eMMC
//eMMC_MUX_ENA

&sdhci {
	bus-width = <8>;
	no-sdio;
	no-sd;
	non-removable;
	max-frequency = <200000000>;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	status = "okay";
};

//SD Card
&sdmmc {
	max-frequency = <200000000>;
	no-sdio;
	no-mmc;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc_3v3>;
	vqmmc-supply = <&vccio_sd_s0>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_bus4 &sdmmc_clk &sdmmc_cmd &sdmmc_det>;
	status = "okay";
};

//=============================================================================
//  PINCTL
//=============================================================================
&pinctrl {
	watchdog{
		watchdog_gpio_wdi{
			rockchip,pins = <4 RK_PA7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		watchdog_disable{
			rockchip,pins = <4 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	
	sdio-pwrseq {
		wlan_en_pin: wlan-en-pin {
			rockchip,pins = <4 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&rng {
	status = "okay";
};

//=============================================================================
//  NPU
//=============================================================================
&rknpu {
	rknpu-supply = <&vdd_npu_s0>;
	mem-supply = <&vdd_npu_mem_s0>;
	status = "okay";
};

&rknpu_mmu {
	status = "okay";
};

//=============================================================================
//  //CHECK_IT //NEED?
//=============================================================================
//CHECK_IT //TEST
//&vcca_1v8_s0 {
//	regulator-state-mem {
//		regulator-on-in-suspend;
//		regulator-suspend-microvolt = <1800000>;
//	};
//};
&saradc {
	status = "okay";
	vref-supply = <&vcca_1v8_s0>;
};


//=============================================================================
//  THERMAL
//=============================================================================

//thermal_zones
&tsadc {
	status = "okay";
};

&soc_thermal {
	polling-delay = <1000>;
	polling-delay-passive = <2000>;
	trips {
		trip0: trip-point@0 {
			temperature = <45000>;
			hysteresis = <5000>;
			type = "active";
		};
		trip1: trip-point@1 {
			temperature = <50000>;
			hysteresis = <5000>;
			type = "active";
		};
		trip2: trip-point@2 {
			temperature = <55000>;
			hysteresis = <5000>;
			type = "active";
		};
		trip3: trip-point@3 {
			temperature = <60000>;
			hysteresis = <5000>;
			type = "active";
		};
		trip4: trip-point@4 {
			temperature = <65000>;
			hysteresis = <5000>;
			type = "active";
		};
		trip5: trip-point@5 {
			temperature = <70000>;
			hysteresis = <5000>;
			type = "active";
		};
		trip6: trip-point@6 {
			temperature = <75000>;
			hysteresis = <5000>;
			type = "active";
		};
		pcritical: trip-point@7 {
			temperature = <80000>;
			hysteresis = <1000>;
			type = "active";
		};
	};
	
	cooling-maps {
		map0 {
			trip = <&trip0>;
			cooling-device = <&fan0 0 1>;
			contribution = <1024>;
		};
		map1 {
			trip = <&trip1>;
			cooling-device = <&fan0 1 2>;
			contribution = <1024>;
		};
		map2 {
			trip = <&trip2>;
			cooling-device = <&fan0 2 3>;
			contribution = <1024>;
		};
		map3 {
			trip = <&trip3>;
			cooling-device = <&fan0 3 4>;
			contribution = <1024>;
		};
		map4 {
			trip = <&trip4>;
			cooling-device = <&fan0 4 5>;
			contribution = <1024>;
		};
		map5 {
			trip = <&trip5>;
			cooling-device = <&fan0 5 6>;
			contribution = <1024>;
		};
		map6 {
			trip = <&trip6>;
			cooling-device = <&fan0 6 7>;
			contribution = <1024>;
		};
		map7 {
			trip = <&pcritical>;
			cooling-device = <&fan0 7 8>;
			contribution = <1024>;
		};
	};
};


//=============================================================================
//  UART
//=============================================================================

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart1m1_xfer &uart1m1_ctsn &uart1m1_rtsn>;
};

//=============================================================================
//  UART
//=============================================================================
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1m1_xfer &uart1m1_ctsn &uart1m1_rtsn>;
	uart-has-rtscts;
	status = "okay";

	//A1    //8223A-SR
	bluetooth {
		compatible = "qcom,qca9377-bt";
		clocks = <&rtc_clock>;
		clock-names = "lpo";
		//enable-gpios = <&gpio4 RK_PA0 GPIO_ACTIVE_HIGH>; // BT_RST
		max-speed = <2000000>;
		//pinctrl-names = "default";
		//pinctrl-0 = <&bt_en_pin>;
	};
};

//FIQ Debugger
//D33 //USB_UART //DBG_UART //RS232_1 (Не напаян)
/*
&uart2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart2m0_xfer>;
};
*/

//X29 1.8V UART
&uart3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart3m0_xfer>;
};

//X27 RS232_2
&uart4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart4m1_xfer>;
};

//X28 3.3V
&uart9 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart9m2_xfer>;
};

//=============================================================================
//  PWM
//=============================================================================

//Fan Speed Control
//CPU_PWM
&pwm12 {
	status = "okay";
	pinctrl-0 = <&pwm12m1_pins>;
	
};

//=============================================================================
//  OTHER
//=============================================================================
// watchdog
&wdt {
	status = "okay";
};

//CHECK_IT
&rkcif {
	status = "okay";
};

&rkcif_mmu {
	status = "okay";
};

&rkisp0 {
	status = "okay";
};

&isp0_mmu {
	status = "okay";
};

&rkisp1 {
	status = "okay";
};

&isp1_mmu {
	status = "okay";
};
