//==============================================================================
// На rk3588 один sdmmc. Поэтому на плате установлен мультиплексор:
// * либо SD-карта
// * либо Wi-Fi

#define ATB_MUX_SDCARD
// #define ATB_MUX_WIFI

//==============================================================================
// Проверка
#if defined(ATB_MUX_WIFI) && defined(ATB_MUX_SDCARD)
#error "Only one define allowed: ATB_MUX_SDCARD or ATB_MUX_WIFI"
#endif
//==============================================================================
