/ {
	// D25
	miniPCIe_1_5v: miniPCIe_1_5v {
		compatible = "regulator-fixed";
		regulator-name = "vcc_miniPCIe_1_5v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		vin-supply = <&vcc3v3>;
	};

	// Pcie host power.
	PCIE_EXT_PWREN_: PCIE_EXT_PWREN_ {
		compatible = "regulator-fixed";
		regulator-name = "PCIE_EXT_PWREN_";
		regulator-boot-on;
		regulator-always-on;
		enable-active-low;
		gpios = <&gpio1 RK_PB3 GPIO_ACTIVE_LOW>;
		vin-supply = <&vcc4v0_sys>;
		status = "okay";
	};

	// Pcie host clock.
	PCIE_x4_CLK_ENA_: PCIE_x4_CLK_ENA_ {
		compatible = "regulator-fixed";
		regulator-name = "PCIE_x4_CLK_ENA_";
		regulator-boot-on;
		regulator-always-on;
		enable-active-low;
		gpios = <&gpio4 RK_PA2 GPIO_ACTIVE_LOW>;
		vin-supply = <&vcc4v0_sys>;
		status = "okay";
	};

	// Pcie host clock.
	PCIE30_CPU_CLK_ENA_: PCIE30_CPU_CLK_ENA_ {
		compatible = "regulator-fixed";
		regulator-name = "PCIE30_CPU_CLK_ENA_";
		regulator-boot-on;
		regulator-always-on;
		enable-active-low;
		gpios = <&gpio4 RK_PA0 GPIO_ACTIVE_LOW>;
		vin-supply = <&vcc4v0_sys>;
		status = "okay";
	};
	
	// Pcie reset.
	PCIe_RST_: PCIe-RST- {
		compatible = "regulator-fixed";
		regulator-name = "PCIe_RST_";
		regulator-boot-on;
		regulator-always-on;
		enable-active-high;
		gpios = <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc4v0_sys>;
		status = "okay";
	};
	
	// X21
	// m.2 and miniPCIe reset 
	miniPCIe_RST_: miniPCIe_RST_ {
		compatible = "regulator-fixed";
		regulator-name = "miniPCIe_RST_";
		regulator-boot-on;
		regulator-always-on;
		enable-active-high;
		gpios = <&gpio4 RK_PC1 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc4v0_sys>;
		status = "okay";
	};
	
	// X38
	// m.2 and miniPCIe reset 
	M2kB_PCIE_RSTn: M2kB_PCIE_RSTn {
		compatible = "regulator-fixed";
		regulator-name = "M2kB_PCIE_RSTn";
		regulator-boot-on;
		regulator-always-on;
		enable-active-high;
		gpios = <&gpio1 RK_PA2 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc4v0_sys>;
		status = "okay";
	};

	// D45 - mPCIE_m2_SEL // ВХОД! Рулится джампером X37

	// Как это работает?
	// D23 - M2kB_PCIE_CFG1 // Автовыбор
	// D24 - M2kB_PCIE_CFG1 // Автовыбор

};

&pinctrl {
	pcie {
		//miniPCIe_RST_
		minipcie_rst_pin: minipcie_rst_pin {
			rockchip,pins = <4 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		//PCIe_RST_
		pcie_rst_pin: pcie_rst_pin {
			rockchip,pins = <1 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};


//=============================================================================
// PCIE SATA
//============================================================================
//-----------------------------------------------------------------------------
//          PCIe20_0 muxing with SATA30_0
//pcie2x1l2 is PCIe20_0
//pcie2x1l2 can use COMBO_PHY_0_LANE0 only

//SATA_0_
&combphy0_ps {
	status = "okay";
};

&pcie2x1l2 {
	status = "disabled";
};

&sata0 {
	status = "okay";
};
//-----------------------------------------------------------------------------
//          PCIe20_1 muxing with SATA30_1
//is PCIe20_1
//pcie2x1l0 can use PCIE30_PORT0_LANE1 or COMBO_PHY_1_LANE0. Controlled by pcie30-phymode.

//	This controller is phy for sata1 or pcie2x1l0 controllers
&combphy1_ps {
	status = "okay";
};
//SATA_1
//X20   M.2 Key B SATA
&sata1 {
	//	If this controller is enabled, pcie2x1l0 must be disabled
	status = "disabled";
	//status = "okay";
};

//PCIE
//X38 miniPCIe on COMBO_PHY_1_LANE0
//	If this controller is enabled, sata1 must be disabled
&pcie2x1l0 {
//M2kB_PCIE_RSTn
	vpcie3v3-supply = <&vcc_3v3>;			
	//status = "disabled";
	status = "okay";
};

//-----------------------------------------------------------------------------
//          PCIe20_2 muxing with SATA30_2 and USB30_2 (usbhost3_0)
//pcie2x1l1 is PCIe20_2
//pcie2x1l1 can use PCIE30_PORT1_LANE1 or COMBO_PHY_2_LANE0. Controlled by pcie30-phymode.

//PCIe20_2 is disabled now
&combphy2_psu {
	status = "okay";
};
&usbhost3_0 {
	status = "disabled";
};
&usbhost_dwc3_0 {
	status = "disabled";
};
&sata2 {
	status = "disabled";
};

//PCIe20_2
//OUT Lane D on PCIE30_PORT1_LANE1  
//x21 MiniPCIe
&pcie2x1l1 {
	//miniPCIe_RST_
	//reset-gpios = <&gpio4 RK_PC1 GPIO_ACTIVE_LOW>;
	//pinctrl-names = "default";
	//pinctrl-0 = <&minipcie_rst_pin>;
	vpcie3v3-supply = <&vcc_3v3>;	
	status = "okay";
};

//=============================================================================
//  //PCIe3X4   //PCIE30_PORT0  //Subsystem Protocol Link Mapping
//  //PCIe_RST_
//=============================================================================
&pcie30phy {
//PHY_MODE_PCIE_AGGREGATION 4	/* PCIe3x4 */
//PHY_MODE_PCIE_NANBNB	0	/* P1:PCIe3x2  +  P0:PCIe3x2 */
//PHY_MODE_PCIE_NANBBI	1	/* P1:PCIe3x2  +  P0:PCIe3x1*2 */
//PHY_MODE_PCIE_NABINB	2	/* P1:PCIe3x1*2 + P0:PCIe3x2 */
//PHY_MODE_PCIE_NABIBI	3	/* P1:PCIe3x1*2 + P0:PCIe3x1*2 */
	rockchip,pcie30-phymode = <PHY_MODE_PCIE_AGGREGATION>;   
	status = "okay";
};

//X22 pcie slot
&pcie3x4 {
	//CHECK_IT  //Set this
	//PCIe_RST_
	//reset-gpios = <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>;
	//pinctrl-names = "default";
	//pinctrl-0 = <&pcie_rst_pin>;
	vpcie3v3-supply = <&vcc_3v3>;
	status = "okay";
};
//=============================================================================
//  //PCIe3X2   //PCIE30_PORT1  //Subsystem Protocol Link Mapping
//  //PCIe_RST_
//=============================================================================
&pcie3x2 {
	vpcie3v3-supply = <&vcc_3v3>;
	status = "disabled";
};


