
&gmac0 {
	assigned-clocks = <&cru SCLK_GMAC0_RX_TX>, <&cru SCLK_GMAC0>;
	assigned-clock-parents = <&cru SCLK_GMAC0_RGMII_SPEED>;
	assigned-clock-rates = <0>, <125000000>;
	clock_in_out = "output";
	phy-handle = <&rgmii_phy0>;
	phy-mode = "rgmii-id";
	pinctrl-names = "default";
	pinctrl-0 = <&gmac0_miim
		     &gmac0_tx_bus2
		     &gmac0_rx_bus2
		     &gmac0_rgmii_clk
		     &gmac0_rgmii_bus>;

    tx_delay = <0x3c>;
	rx_delay = <0x2f>;   

	status = "okay";
};

&gmac1 {
	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>;
	assigned-clock-rates = <0>, <125000000>;
	clock_in_out = "output";
	phy-handle = <&rgmii_phy1>;
	phy-mode = "rgmii-id";
	pinctrl-names = "default";
	pinctrl-0 = <&gmac1m0_miim
		     &gmac1m0_tx_bus2
		     &gmac1m0_rx_bus2
		     &gmac1m0_rgmii_clk
		     &gmac1m0_rgmii_bus>;
    
	tx_delay = <0x4f>;
	rx_delay = <0x26>;
	
	status = "okay";
};

&mdio0 {
	rgmii_phy0: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		reset-assert-us = <20000>;
		reset-deassert-us = <100000>;
/*
        RGMII0_RST -> VT5(NMOS) -> RGMII0_RST_
        0 -> 1
        1 -> 0
*/
        reset-gpios = <&gpio4 RK_PB5 GPIO_ACTIVE_HIGH>;
	};
};

&mdio1 {
	rgmii_phy1: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		reset-assert-us = <20000>;
		reset-deassert-us = <100000>;
/*
        RGMII1_RST -> VT7(NMOS) -> RGMII1_RST_
        0 -> 1
        1 -> 0
*/
		reset-gpios = <&gpio4 RK_PB4 GPIO_ACTIVE_HIGH>;
	};
};

&pinctrl {
	rgmii_phy0_reset {
		rgmii_phy0_reset_pin: rgmii-phy0-reset-pin {
/*
            RGMII0_RST -> VT5 (NMOS) -> RGMII0_RST_
            0 -> 1
            1 -> 0
*/			
			rockchip,pins = <4 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
    
    rgmii_phy1_reset {
		rgmii_phy1_reset_pin: rgmii-phy1-reset-pin {
/*
            RGMII1_RST -> VT7 (NMOS) -> RGMII1_RST_
            0 -> 1
            1 -> 0
*/			
			rockchip,pins = <4 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
