
&gmac0 {
	phy-mode = "rgmii";
	clock_in_out = "input";

	assigned-clocks = <&cru SCLK_GMAC0_RX_TX>, <&cru SCLK_GMAC0>;
	assigned-clock-parents = <&cru SCLK_GMAC0_RGMII_SPEED>;

	pinctrl-names = "default";
	pinctrl-0 = <	&gmac0_miim
					&gmac0_tx_bus2
					&gmac0_rx_bus2
					&gmac0_rgmii_clk
					&gmac0_rgmii_bus
					&gmac0_clkinout
					&rgmii_phy0_reset_pin>;
/*
	RGMII0_RST -> VT5(NMOS) -> RGMII0_RST_
	0 -> 1
	1 -> 0
*/
	snps,reset-gpio = <&gpio4 RK_PB5 GPIO_ACTIVE_HIGH>;
	snps,reset-active-high;

	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	tx_delay = <0x3c>;
	rx_delay = <0x2f>;

	phy-handle = <&rgmii_phy0>;
	status = "okay";
};

&gmac1 {
	phy-mode = "rgmii";
	clock_in_out = "input";

	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>;

	pinctrl-names = "default";
	pinctrl-0 = <	&gmac1m0_miim
					&gmac1m0_tx_bus2
					&gmac1m0_rx_bus2
					&gmac1m0_rgmii_clk
					&gmac1m0_rgmii_bus
					&gmac1m0_clkinout
					&rgmii_phy1_reset_pin>;
/*
	RGMII1_RST -> VT17(NMOS) -> RGMII1_RST_
	0 -> 1
	1 -> 0
*/
	snps,reset-gpio = <&gpio4 RK_PB4 GPIO_ACTIVE_HIGH>;
	snps,reset-active-high;

	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	tx_delay = <0x4f>;
	rx_delay = <0x26>;

	phy-handle = <&rgmii_phy1>;
	status = "okay";
};


&mdio0 {
	rgmii_phy0: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
	};
};

&mdio1 {
	rgmii_phy1: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
	};
};

&pinctrl {
	rgmii_phy0_reset {
		rgmii_phy0_reset_pin: rgmii-phy0-reset-pin {
/*
			RGMII0_RST -> VT5 (NMOS) -> RGMII0_RST_
			0 -> 1
			1 -> 0
*/
			rockchip,pins = <4 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

    rgmii_phy1_reset {
		rgmii_phy1_reset_pin: rgmii-phy1-reset-pin {
/*
			RGMII1_RST -> VT7 (NMOS) -> RGMII1_RST_
			0 -> 1
			1 -> 0
*/
			rockchip,pins = <4 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
